*, ::before, ::after {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  background-color: deepskyblue;
}

h1 {
  margin: 0 0 1rem;
  font-size: 3rem;
}

.level-divider-container {
  position: relative;
  width: 100%;
}

.level-divider {
  position: absolute;
  z-index: -1;
  top: 1rem;
  width: 100%;
  border: 1px solid black;
}

.level-divider-overlay {
  display: inline-block;
  margin: 0;
  padding: 0 1rem;
  background-color: deepskyblue;
  font-size: 2rem;
  font-family: 'Mali', cursive;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 13.5rem;
  height: 13.5rem;
  margin: 1rem;
  padding: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  background-color: lightskyblue;
}

.project-container:nth-child(12n + 2) {
  left: 6vw;
}

.project-container:nth-child(12n + 3) {
  left: 12vw;
}

.project-container:nth-child(12n + 4) {
  left: 15vw;
}

.project-container:nth-child(12n + 5) {
  left: 12vw;
}

.project-container:nth-child(12n + 6) {
  left: 6vw;
}

.project-container:nth-child(12n + 8) {
  right: 6vw;
}

.project-container:nth-child(12n + 9) {
  right: 12vw;
}

.project-container:nth-child(12n + 10) {
  right: 15vw;
}

.project-container:nth-child(12n + 11) {
  right: 12vw;
}

.project-container:nth-child(12n) {
  right: 6vw;
}

.project-name-paragraph {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}

.reset-button {
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 1000px;
  background-color: deepskyblue;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.25s;
}

.reset-button:hover {
  filter: brightness(1.1);
}

.reset-button:active {
  filter: brightness(0.9);
}

.stars-container {
  display: flex;
  align-items: center;
}

.stars-container:not(:has(:checked)) .star {
  color: dimgray !important;
  text-shadow: none;
}

.star-toggler {
  display: none;
}

.star {
  line-height: 2.5rem;
  font-size: 2.5rem;
  color: gold;
  text-shadow: 0 0 2px black;
}

.star:nth-of-type(2) {
  font-size: 3rem;
}

.star-toggler:checked ~ .star {
  color: dimgray;
  text-shadow: none;
}

.star-toggler:checked + .star {
  color: gold;
  text-shadow: 0 0 2px black;
}

.rocket-toggler {
  display: none;
}

.rocket {
  font-size: 1.5rem;
  filter: brightness(0.6);
}

.rocket-toggler:checked + .rocket {
  filter: none;
}
